// DEFAULT SETTINGS

$primaryColor: #458ff6;
$secondaryColor: #000;
$accentColor: #fff;
$paragraphColor: #7d7987;
$lightShadow: 10px 40px 50px 0px #e5e9f666;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "muli", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.defaultParagraph {
  color: $paragraphColor;
  margin: 1em 0;
  line-height: 1.8em;
  font-size: 1.2em;
}

.defaultBtn,
.reverseBtn {
  margin-top: 1.2em;
  width: 12em;
  height: 3.5em;
  border-radius: 3.45em;
  font-size: 1.1em;
  line-height: 3.75em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.defaultBtn {
  color: $primaryColor;
  background-color: $accentColor;
  border: 1.4px solid $primaryColor;
}

.reverseBtn {
  color: $accentColor;
  background-color: $primaryColor;
  border: 1.4px solid $accentColor;
}

h1,
h2,
h3 {
  line-height: 1.1em;
  padding-top: 1em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img[alt="rectangle"] {
  margin: 2em 0;
}

img[alt] {
  user-select: none;
}

section.services,
section.healthcareProviders,
section.mobileApps,
section.testimonials {
  margin: 2.4em;
}

.animateOnScroll {
  animation-duration: 1s;
  animation-name: scrollbar;
  animation-timing-function: ease-in-out;
}

@keyframes scrollbar {
  0% {
    transform: scaleX(0.06);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes animateButton {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes nextSlide {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes prevSlide {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

// MOBILE FIRST

.navBar {
  margin-bottom: 1em;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: $accentColor;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .navBarLogo {
    justify-content: space-evenly;
    box-shadow: $lightShadow;
    padding: 1em;
  }

  .navBarLogo svg {
    width: 2.5em;
    cursor: pointer;
  }

  .hamburgerMenuHidden {
    display: none;
  }

  .navBarItemsWrapper {
    flex-direction: column;
    gap: 0.5em;
  }

  .navBarItems {
    margin: 2em;
  }

  .navBarItemsWrapper__item a {
    color: #1f1534;
    opacity: 50%;
    font-size: 1.3em;

    &:hover {
      animation-duration: 2s;
      animation-name: animateButton;
    }
  }

  .navBarItemsWrapper__item {
    padding: 0.5em 0;
  }

  .navBarItemsWrapper__item:first-child a {
    font-weight: 700;
    opacity: 100%;
  }

  .navBarItemsWrapper__item:not(:first-child) a {
    font-weight: 400;
  }
}

.hero {
  margin: 7em 1.5em;
  .bubbleAccent {
    display: none;
  }

  .heroContainer {
    flex-direction: column-reverse;
  }

  .heroLeft h1 {
    margin: 1em 0;
    text-align: center;
  }

  .heroLeft p {
    font-size: 120%;
    text-align: center;
  }

  .heroRight img {
    width: 85vw;
  }

  .heroLeft div {
    text-align: center;
  }
}

section.services {
  .servicesBody {
    position: relative;
  }

  .servicesHeader {
    flex-direction: column;
  }

  .servicesHeader * {
    padding: 0.5em 0;
  }

  .servicesBody {
    margin-top: 2em;
    width: 100%;
    gap: 3em;
    flex-wrap: wrap;
    position: relative;
  }

  .servicesBody img[alt="bgElement"] {
    position: absolute;
    z-index: -1;
    top: -6%;
    width: 100vw;
  }

  .servicesBody img[alt="bubbleElement"] {
    position: absolute;
    top: 15%;
    left: 80%;
    z-index: -1;
  }

  .servicesBodyCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 2em 3em 1em 3em;
    margin: 2em 5%;
    border-radius: 1.2em;
    background-color: $accentColor;
    box-shadow: $lightShadow;
  }

  .servicesBodyCard img {
    margin: 0.5em 0;
  }

  .servicesBodyCard p {
    width: 90%;
    text-align: center;
  }

  .servicesBodyCard h3 {
    margin: 0.5em 0;
  }
}

section.healthcareProviders {
  margin-top: 5em;
  flex-direction: column;
  position: relative;

  .healthcareProviders__left {
    margin: 3em 0;
  }

  .healthcareProviders__left img {
    width: 80vw;
  }

  img[alt="bubbleElement"] {
    position: absolute;
    z-index: -1;
    top: 22%;
    left: 75%;
  }

  .healthcareProviders__right div {
    text-align: center;
  }
}

section.mobileApps {
  margin-top: 7em;
  flex-direction: column-reverse;

  img[alt="appsBanner"] {
    width: 85vw;
  }

  .mobileApps__left div {
    text-align: center;
  }

  .mobileApps__left button img {
    padding-left: 0.5em;
  }
}

section.testimonials {
  .testimonialsWrapper {
    width: 100%;

    height: auto;
    padding: 0;
    margin: 0;
    position: relative;

    img[alt="bubbleElementUpper"] {
      position: absolute;
      top: 7%;
      left: 85%;
      z-index: 1;
    }

    img[alt="bubbleElementDown"] {
      position: absolute;
      bottom: -3%;
      left: -7%;
      z-index: -1;
    }

    .testimonialsContent {
      margin: 20% 0 2em 0;
      width: 100%;
      height: fit-content;
      flex-direction: column;
      padding: 2em;
      background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
      color: $accentColor;
      border-radius: 1.5em;

      .testimonialsHeader {
        flex-direction: column;
        text-align: center;
        font-size: large;
      }

      .testimonialsBodyWrapper {
        height: 100%;
        width: 100%;
        position: relative;

        .testimonialsBody {
          flex-direction: column;

          &:not(.defaultSlide) {
            position: absolute;
            top: 0;
            left: -50%;
            visibility: hidden;
          }

          img[alt="testimonialsHeadshot01"],
          img[alt="testimonialsHeadshot02"],
          img[alt="testimonialsHeadshot03"],
          img[alt="testimonialsHeadshot04"] {
            width: 8.8em;
            height: 8.8em;
            object-fit: cover;
            border-radius: 50%;
          }

          .testimonialsBody__left {
            padding: 0 3em;
            width: 400px;
            height: fit-content;
            margin-top: 1em;
            img {
              border-radius: 50%;
              border: 0.3em solid $accentColor;
              margin-right: 0.8em;
            }

            .testimonialsProp {
              flex-direction: column;
            }

            .testimonialsProp * {
              padding: 0.3em;
              text-align: center;
            }
          }

          .testimonialsBody__right {
            width: 100%;
            height: fit-content;
            p {
              color: $accentColor;
              text-align: center;
              padding-top: 1em;
              text-wrap: wrap;
            }
          }
        }
      }
    }
  }

  .testimonialsFooter {
    .testimonialsFooterElements {
      img[alt="arrowLeft"] {
        margin-right: 3em;
      }

      img[alt="arrowRight"] {
        margin-left: 3em;
      }

      img[alt="arrowLeft"],
      img[alt="arrowRight"],
      img {
        cursor: pointer;
        user-select: none;
        transition: 0.3s ease;

        &:hover {
          opacity: 0.6;
        }
      }

      .testimonialEllipseElements img {
        padding: 0 0.2em;
      }
    }
  }
}

section.article {
  position: relative;
  .articleHeader {
    flex-direction: column;
  }

  img[alt="bubbleElement"] {
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 5%;
  }

  .articleBody {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .articleBody img[alt="bgElementReversed"] {
    width: 80%;
    position: absolute;
    z-index: -1;
    top: 67%;
    left: 20%;
  }

  .articleBodyCard {
    width: 80%;
    margin: 2em 0;
    border-radius: 1.5em;
    background-color: $accentColor;
    box-shadow: $lightShadow;
  }

  .articleBodyCard__top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1.5em 1.5em 0 0;
  }

  .articleBodyCard__bottom {
    width: 90%;
    padding: 1em 2em;
  }

  .articleBodyCard__bottomNav {
    transition: 0.3s ease-in;
  }

  .articleBodyCard__bottomNav a {
    color: $primaryColor;
  }

  .articleBodyCard__bottomNav img {
    padding-left: 1em;
    width: 2.3em;

    &:hover {
      margin-left: 0.5em;
    }
  }
}

footer {
  width: 100%;
  position: relative;
  margin-top: 8em;
  padding: 3em;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  color: $accentColor;

  img[alt="bubbleElementUpper"] {
    position: absolute;
    top: -5%;
    left: 75%;
    z-index: -1;
  }

  .footerLogoWrapper h2 {
    padding: 1em;
  }

  .footerEllipse {
    position: relative;
  }

  .footerEllipse img {
    position: absolute;
    top: 31%;
    left: 33%;
  }

  .footerNav {
    flex-direction: column-reverse;
  }

  .footerNav__left {
    margin-top: 2em;
  }

  .footerCompany ul,
  .footerRegion ul,
  .footerHelp ul {
    font-size: 1.4em;
    padding: 0.3em 0;
  }

  .footerContacts {
    margin-bottom: 4em;
  }

  .footerContacts p {
    color: $accentColor;
    font-size: 1.2em;
    margin: 2em 0.5em;
    text-align: center;
  }

  svg {
    height: 3em;
    width: 3em;
  }

  a {
    color: $accentColor;
    margin: 1em 0;

    &:hover {
      animation-duration: 2s;
      animation-name: animateButton;
    }
  }

  li:first-child > a {
    font-weight: 700;
  }

  li {
    margin: 1em;
    text-align: center;
  }

  img[alt="bubbleElementDown"] {
    position: absolute;
    top: 90%;
    left: 0%;
  }
}

// IPAD

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    .navBar {
      position: static;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: none;
    }

    .hamburgerMenuHidden {
      display: block !important;
    }

    .navBarLogo svg {
      display: none;
    }

    .navBar .navBarLogo {
      box-shadow: none;
    }

    .navBar .navBarItemsWrapper {
      flex-direction: row;
      gap: 1.5em;
    }

    .navBar .navBarItemsWrapper__item a {
      font-size: 110%;
    }
  }

  .hero {
    margin: 2em 0;
    .bubbleAccent {
      display: block;
    }

    .heroContainer {
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      margin: 2em 3em;
    }

    .heroRight img {
      width: 60vw;
      padding-left: 2em;
    }
  }

  section.services {
    margin-top: 5em;

    .servicesHeader p {
      width: 80%;
    }

    .servicesBody img[alt="bubbleElement"] {
      top: 0%;
      left: 89%;
    }

    .servicesBodyCardWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5%;
    }

    .servicesBodyCard {
      width: 40%;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1em 2em;
      margin: 2em 1em;
    }

    .servicesBodyCard p {
      width: 100%;
      text-align: left;
      padding: 0;
      margin: 0;
    }

    .servicesFooter {
      margin: 4em 0;
    }
  }

  section.healthcareProviders {
    padding: 5em 0;
    flex-direction: row;

    .healthcareProviders__left img {
      width: 50vw;
      padding-right: 2em;
    }

    img[alt="bubbleElement"] {
      top: 100%;
      left: 93%;
    }
  }

  section.mobileApps {
    padding-top: 3em;
    flex-direction: row;

    img[alt="appsBanner"] {
      width: 50vw;
    }
  }

  section.testimonials {
    .testimonialsWrapper {
      img[alt="bubbleElementUpper"] {
        top: 20%;
        left: 92%;
      }

      img[alt="bubbleElementDown"] {
        top: 80%;
        left: -8%;
      }

      .testimonialsContent {
        .testimonialsBodyWrapper {
          .testimonialsBody {
            flex-direction: row;

            .testimonialsBody__right {
              p {
                text-align: left;
                padding-top: 0;
              }
            }
          }
        }
      }
    }

    .testimonialsFooter {
      margin-bottom: 25%;

      .testimonialsFooterElements {
        img[alt="arrowLeft"] {
          margin-right: 4em;
        }

        img[alt="arrowRight"] {
          margin-left: 4em;
        }
      }
    }
  }

  section.article {
    margin-top: -5em;

    img[alt="bubbleElement"] {
      top: 7%;
      left: 5%;
    }

    .articleBody {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2em;
    }

    .articleBody img[alt="bgElementReversed"] {
      top: 50%;
      left: 20%;
    }

    .articleBodyCard {
      width: 40%;
    }
  }

  footer {
    margin-top: 20%;
    img[alt="bubbleElementUpper"] {
      top: -7%;
      left: 80%;
      transform: rotate(90deg);
    }

    .footerEllipse img {
      top: 31%;
      left: 33%;
    }

    .footerCompany ul,
    .footerRegion ul,
    .footerHelp ul {
      font-size: 1.3em;
      padding: 0.5em 0;
    }

    .footerContacts p {
      width: 30em;
      font-size: 1.2em;
      text-align: center;
    }

    img[alt="bubbleElementDown"] {
      top: 90%;
      left: 5%;
      transform: rotate(90deg);
    }
  }
}

// LAPTOP VERSION

@media (min-width: 1024px) {
  .navBar {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    box-shadow: none;

    .hamburgerMenuHidden {
      display: block;
    }

    .navBarLogo svg {
      display: none;
    }
    .navBarItemsWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 3vw;
    }

    .navBarLogo {
      box-shadow: none;
    }
  }

  .hero {
    .bubbleAccent {
      display: block;
      position: absolute;
      left: 0%;
      top: 20%;
    }

    .heroContainer {
      flex-direction: row;
      margin: 7em;
    }

    .heroLeft div,
    .heroLeft p,
    .heroLeft h1 {
      text-align: left;
    }

    .heroLeft h1 {
      font-size: 2.1em;
      width: 80%;
    }

    .heroLeft p {
      font-size: 100%;
    }

    .heroRight img {
      width: 48vw;
      padding-left: 4em;
    }
  }

  section.services {
    .servicesBody img[alt="bubbleElement"] {
      top: 37%;
      left: 84%;
    }

    .servicesHeader p {
      width: 89%;
      text-align: center;
      font-size: 1em;
    }

    .servicesBody img[alt="bgElement"] {
      top: -25%;
      left: -10%;
      width: 70%;
    }

    .servicesBodyCardWrapper {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 0;
      margin-top: 2em;
    }

    .servicesBodyCard {
      width: 29%;
      padding: 1.5em;
      height: fit-content;
      margin: 1em;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .servicesBodyCard p {
      text-align: left;
      padding: 0;
      margin: 0;
    }

    .servicesFooter {
      margin: 4em 0;
    }
  }

  section.healthcareProviders {
    margin: 10em 6em;
    flex-direction: row;

    .healthcareProviders__left img {
      width: 50vw;
      padding-right: 4em;
    }

    .healthcareProviders__right h2 {
      font-size: 2em;
      width: 80%;
    }

    img[alt="bubbleElement"] {
      top: 100%;
      left: 100%;
    }
  }

  section.mobileApps {
    margin: 0 6em;
    flex-direction: row;
    img[alt="appsBanner"] {
      width: 50vw;
    }

    .mobileApps__left h2 {
      font-size: 2em;
      width: 70%;
    }
  }

  section.testimonials {
    .testimonialsWrapper {
      img[alt="bubbleElementUpper"] {
        top: 40%;
        left: 92%;
      }

      img[alt="bubbleElementDown"] {
        top: 75%;
      }

      .testimonialsContent {
        padding: 4em;
        .testimonialsBodyWrapper {
          .testimonialsBody {
            flex-direction: row;
            gap: 5%;
            .testimonialsBody__left {
              margin-left: 5%;
              .testimonialsProp {
                justify-content: flex-start;
                align-items: flex-start;

                & h2 {
                  font-size: 1.4em;
                  text-wrap: nowrap;
                }

                & p {
                  font-size: 1.1em;
                }
              }
            }

            .testimonialsBody__right {
              p {
                font-size: 1.1em;
                width: 100%;
                text-align: left;
              }
            }
          }
        }
      }
    }

    .testimonialsFooter {
      margin-bottom: 25%;

      .testimonialsFooterElements {
        img[alt="arrowLeft"] {
          margin-right: 4em;
        }

        img[alt="arrowRight"] {
          margin-left: 4em;
        }
      }
    }
  }

  section.article {
    img[alt="bubbleElement"] {
      top: 15%;
      left: 10%;
    }

    .articleBody {
      flex-direction: row;
      width: 80%;
      gap: 2em;
      margin: 0 auto;
    }

    .articleBody img[alt="bgElementReversed"] {
      width: 40%;
      top: -2%;
      left: 72.5%;
    }

    .articleBodyCard {
      width: 28%;
    }

    .articleBodyCard__bottom {
      width: 100%;
      padding: 1em 2em;
    }

    .articleBodyCard__bottomNav a {
      padding-right: 2em;
      font-size: 1.1em;
    }

    .articleBodyCard__bottomNav img {
      width: 2em;
    }

    .articleFooter {
      margin-top: 2em;
    }
  }

  footer {
    padding: 0 4em;
    margin-top: 20%;

    .footerWrapper {
      margin-top: 4em;
    }

    img[alt="bubbleElementUpper"] {
      top: -24%;
      left: 85%;
      transform: rotate(90deg);
    }

    .footerNav {
      flex-direction: row;
    }

    .footerNav__right {
      display: flex;
      margin-top: -2em;
      margin-left: 5em;
    }

    .footerCompany ul,
    .footerRegion ul,
    .footerHelp ul {
      width: 100%;
      font-size: 1em;
      margin-left: 3em;
      display: flex;
      flex-direction: column;
    }

    .footerContacts {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      margin-left: 10%;
    }

    .footerContacts p {
      width: 23em;
      font-size: 1em;
      margin: 1em 0;
      text-align: left;
    }

    a {
      &:hover {
        animation-duration: 2s;
        animation-name: animateButton;
      }
    }

    li:first-child > a {
      font-weight: 700;
      font-size: 1.1em;
    }

    li {
      text-align: left;
    }

    img[alt="bubbleElementDown"] {
      top: 73%;
      left: 0%;
      transform: rotate(90deg);
    }
  }
}
